.page-heading {
    margin-top: 15px;
}

/* Autocomplete hack styles */
div#acApplication div:last-child{
    top: inherit !important;
    left: inherit !important;
  }

/* Make sure tabs indicate they are clickable */
.nav-tabs .nav-item {
    cursor: pointer;
}

.form-control {
    color: #000 !important;
}